@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap");
/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter Tight", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  position: fixed;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 10px 19px;
  background-color: rgba(10, 10, 9, 0.795);
  color: #fff;
  /* LOGO */
}
.navbar .logo {
  font-size: 32px;
  color: #e91e63;
  font-weight: 700;
}
.navbar .nav-links {
  color: #fff;
  /* RESPONSIVE NAVBAR MENU STARTS */
  /* CHECKBOX HACK */
  /* HAMBURGER MENU */
  /* NAVBAR MENU */
}
.navbar .nav-links input[type=checkbox] {
  display: none;
}
.navbar .nav-links .hamburger {
  display: none;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.navbar .nav-links .menu {
  display: flex;
  gap: 2px;
  font-size: 18px;
  /* DROPDOWN MENU */
}
.navbar .nav-links .menu .signin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .nav-links .menu .signin a {
  width: 7rem;
  border-radius: 4px;
  padding: 5px 3px;
  background-color: #00bcd4;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.navbar .nav-links .menu .signin a:hover {
  color: white;
  background-color: #e91e63;
}
.navbar .nav-links .menu li {
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .nav-links .menu li a {
  color: white;
}
.navbar .nav-links .menu li a:hover {
  color: #e91e63;
  border-radius: 5px;
  transition: 0.3s ease;
  scale: 1.1;
}
.navbar .nav-links .menu li form {
  display: flex;
  justify-content: center;
}
.navbar .nav-links .menu li form input[type=search] {
  border: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  background-color: whitesmoke;
  outline: none;
  text-align: center;
}
.navbar .nav-links .menu li form button {
  outline: none;
  border: none;
  width: 30px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: whitesmoke;
}
.navbar .nav-links .menu li form button img {
  width: 100%;
  padding: 3px;
}
.navbar .nav-links .menu .services {
  position: relative;
}
.navbar .nav-links .menu .services .dropdown {
  background-color: white;
  padding: 5px 2px;
  position: absolute;
  /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 4px;
  top: 35px;
  background-color: rgba(19, 15, 15, 0.8274509804);
}
.navbar .nav-links .menu .services .dropdown li {
  width: 7em;
  text-align: center;
}
.navbar .nav-links .menu .services .dropdown li a {
  color: white;
}
.navbar .nav-links .menu .services .dropdown li a:hover {
  color: #e91e63;
  border-radius: 5px;
  transition: 0.3s ease;
}
.navbar .nav-links .menu .services:hover .dropdown {
  display: block;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .navbar .nav-links input[type=checkbox]:checked ~ .menu {
    display: flex;
    flex-direction: column;
    background-image: url("/images/4k-g1004f80ef_1920.jpg");
    background-size: cover;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .navbar .nav-links .hamburger {
    display: block;
  }
  .navbar .nav-links .menu {
    display: none;
    position: absolute;
    background-image: url("/images/4k-g1004f80ef_1920.jpg");
    background-size: cover;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .navbar .nav-links .menu li {
    order: 2;
    margin-top: 12px;
  }
  .navbar .nav-links .menu li:hover {
    color: #186872;
    transition: 0.3s ease;
  }
  .navbar .nav-links .menu li:nth-of-type(5) {
    order: 1;
  }
  .navbar .nav-links .menu .services .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  .navbar .nav-links .menu .services .dropdown li:hover {
    color: #4c9e9e;
  }
}
@media screen and (max-width: 1440px) {
  #banner {
    width: 100%;
    height: 100vh;
    background: url("../images/alex-haney-CAhjZmVk5H4-unsplash.jpg") rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-clip: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
  }
  #banner h1 {
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    padding: 20px;
    width: 70%;
    height: 100%;
    word-wrap: break-word;
    text-align: right;
    font-size: 7rem;
    background-image: url("../images/4k-g1004f80ef_1920.jpg");
    background-size: cover;
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
  #banner .scroll {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 2.5s infinite ease-in-out hover;
  }
  #banner .scroll img {
    width: 30px;
  }
  @keyframes hover {
    from {
      transform: translateY(-7vh);
    }
  }
}
@media screen and (max-width: 1198px) {
  #banner {
    width: 100%;
    height: 100vh;
    background: url("../images/alex-haney-CAhjZmVk5H4-unsplash.jpg") rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-clip: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: center;
  }
  #banner h1 {
    text-transform: capitalize;
    padding: 20px;
    width: 70%;
    word-wrap: break-word;
    text-align: right;
    font-size: 5rem;
    background-image: url("../images/4k-g1004f80ef_1920.jpg");
    background-size: cover;
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
}
@media screen and (max-width: 919px) {
  #banner {
    width: 100%;
    height: 100vh;
    background: url("../images/alex-haney-CAhjZmVk5H4-unsplash.jpg") rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-clip: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: center;
  }
  #banner h1 {
    text-transform: capitalize;
    padding: 20px;
    width: 90%;
    word-wrap: break-word;
    text-align: right;
    font-size: 4rem;
    background-image: url("../images/4k-g1004f80ef_1920.jpg");
    background-size: cover;
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
}
@media screen and (max-width: 539px) {
  #banner {
    width: 100%;
    height: 100vh;
    background: url("../images/alex-haney-CAhjZmVk5H4-unsplash.jpg") rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-clip: content-box;
    background-size: cover;
    background-position: 25% 0;
    background-repeat: no-repeat;
  }
  #banner h1 {
    text-transform: capitalize;
    padding: 20px;
    width: 80%;
    word-wrap: break-word;
    text-align: right;
    font-size: 2.7rem;
    background-image: url("../images/4k-g1004f80ef_1920.jpg");
    background-size: cover;
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    animation: 2s ease-in slidein;
  }
}
@media screen and (max-width: 326px) {
  #banner {
    width: 100vw;
    height: 100vh;
    background: url("../images/alex-haney-CAhjZmVk5H4-unsplash.jpg") rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-clip: content-box;
    background-size: cover;
    background-position: 25% 0;
    background-repeat: no-repeat;
  }
  #banner h1 {
    text-transform: capitalize;
    padding: 20px;
    width: 100vw;
    word-wrap: break-word;
    text-align: right;
    font-size: 2.6rem;
    background-image: url("../images/4k-g1004f80ef_1920.jpg");
    background-size: cover;
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    animation: 2s ease-in slidein;
  }
}/*# sourceMappingURL=styles.css.map */