* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

section {
    display: grid;
    justify-content: center;
    
    .tittle{
        font-size: 2rem;
        padding: 25px;
        background-image: url(/images/Breakfast.jpg);
        background-clip: text;
        color: transparent;
        text-align: center;
    }

    .all {
        
        display: flex;
      justify-content: center;
        align-items: center;
        margin: 0 2%;
        flex-wrap: wrap;
        gap: 1rem;

        #res {
            background-color: seashell;
            display: flex;
            flex-direction: column;
            gap: 0px;
            width: 15rem;
            // border: 1px solid black;
            text-align: right;
            box-shadow: 0 5px 19px rgba(0, 0, 0, 0.25);
            border-radius: 4px;

            .profile {
                padding: 4px;

                img {
                    border-radius: 4px;
                    width: 100%;
                }
            }

            .info {
                // width: 100%;
                // height: 100%;
                padding:8px 4px;
                display: grid;
                text-transform: capitalize;
                border-radius: 4px;

                h1 {
                    margin: 2px;
                    font-size: larger;

                }

                hr {
                    height: 2px;
                    background-color: rgb(235, 218, 142);
                    border: transparent;
                    border-radius: 10px;
                }

            }

            &:hover {
                scale: 1.1;
                transition: ease-in-out 90ms;
                background-color: rgb(248, 230, 216);
            }
        }

    }
}