@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
#allres {
    padding-top: 4rem;
    display: grid;
    justify-content: center;
    font-family:  'Inter Tight', sans-serif;
    line-height: 35px;
    z-index: 2;
    
    
    .tittle{
        font-size: 2rem;
        padding: 25px;
       text-align: center;
       text-transform: capitalize;
       text-decoration: underline;
       color: #e91e63;
    }

    #all{
        
        display: flex;
      justify-content: center;
        align-items: center;
        margin: 0 2%;
        flex-wrap: wrap;
        gap: 1.5rem;

        #res {
            background-color: seashell;
            display: flex;
            flex-direction: column;
            gap: 0px;
            width: 15rem;
            // border: 1px solid black;
            text-align: right;
            box-shadow: 0 5px 19px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            color: black;

            .profile {
                padding: 4px;

                img {
                    border-radius: 4px;
                    width: 100%;
                    height: 8rem;
                }
            }

            .info {
                // width: 100%;
                // height: 100%;
                padding:8px 4px;
                display: grid;
                line-height: 22px;
                text-transform: capitalize;
                border-radius: 4px;

                h1 {
                    margin: 2px;
                    font-size: larger;

                }

                hr {
                    height: 2px;
                    background-color: #00bcd4;
                    border: transparent;
                    border-radius: 10px;
                }

            }

            &:hover {
                scale: 1.1;
                transition: ease-in-out 90ms;
                background-color: rgb(241, 212, 189);
                cursor: pointer;
                hr{
                    background-color: #e91e63;
                }
                
            }
        }

    }
}